@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
}

.container {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	background-color: cadetblue;
}

.left-side {
	background: #1565d8 url("../img/background.jpg") no-repeat;
	max-width: 666px;
	padding: 64px 111px 350px 82px;
	box-sizing: border-box;
	&__img {
	}
	&__text {
		position: relative;
		font-family: "Inter-Regular", sans-serif;
		font-weight: 400;
		font-size: 20px;
		line-height: 38px;
		color: #fff;
		margin-top: 276px;
		margin-bottom: 22px;
	}
	&__text::before {
		position: absolute;
		display: inline-block;
		top: -40px;
		left: -1px;
		width: 28px;
		height: 20px;
		background: url("../img/quotes.svg") no-repeat;
		content: "";
	}
	&__text::after {
		position: absolute;
		display: inline-block;
		bottom: -99px;
		right: 37px;
		width: 33px;
		height: 33px;
		background: url("../img/angle.svg") no-repeat;
		content: "";
	}
	&__sign {
		position: relative;
		font-family: "Inter-Medium", sans-serif;
		font-weight: 500;
		font-size: 18px;
		line-height: 21.78px;
		color: #fff;
	}
	&__sign::after {
		position: absolute;
		top: 2px;
		right: -24px;
		width: 15.8px;
		height: 15.8px;
		background: url("../img/check.svg") no-repeat;
		content: "";
	}
}
.left-side::after {
	position: absolute;
	top: 212px;
	left: 415px;
	width: 60px;
	height: 56px;
	background: url("../img/matrix.svg") no-repeat;
	content: "";
}
.left-side::before {
	position: absolute;
	bottom: 7.82px;
	left: 0px;
	width: 120px;
	height: 122px;
	background: url("../img/circles.svg") no-repeat;
	content: "";
}
.right-side {
}
