@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	background-color: cadetblue;
}

.left-side {
	background: #1565d8 url("../img/background.jpg") no-repeat;
	max-width: 666px;
	padding: 64px 111px 64px 82px;
	box-sizing: border-box;
	&__img {
	}
	&__text {
		margin-top: 276px;
	}
}
.right-side {
}
